@font-face {
  font-family: 'Neuwelt-Light';
  src: url('../assets/fonts/ff-neuwelt/FF.Neuwelt/Neuwelt-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
h1 {
  font-family: 'Neuwelt-Light', sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.1em;
}
h2 {
  font-family: 'Neuwelt-Light', sans-serif;
  font-size: 2.1em;
  font-weight: 800;
  line-height: 1.25em;
  margin-bottom: 0.6em;
}
h3 {
  font-family: 'Neuwelt-Light', sans-serif;
  font-size: 1.6em;
  font-weight: 800;
  line-height: 1.25em;
  margin-bottom: 1em;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.6em;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 2em;
  margin-bottom: 0.5em;
}
h5 {
  font-family: 'Roboto-Ligh', sans-serif;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.7em;
  color: #777777;
  margin-bottom: 1em;
}
h6 {
  font-family: 'Roboto-Ligh', sans-serif;
  font-size: 0.75em;
  font-weight: 100;
  line-height: 1.7em;
  color: #777777;
}
.text-gold {
  color: #D4B254;
}
.text_grey {
  color: #222222;
}
.body {
  box-sizing: border-box;
  color: #000000;
}
.header {
  position: fixed;
  height: 5.8em;
  width: 100%;
  z-index: 1;
  color: #FFFFFF;
  transition: all 0.28s ease 0s;
}
@media (max-width: 715px) {
  .header {
    height: 3em;
  }
}
.header.menu-open {
  background-color: #D4B254;
}
@media (max-width: 715px) {
  .header.menu-open {
    height: 5.8em;
  }
}
.header.menu-open .header__menu {
  transform: translate(0, 0);
  background: #D4B254;
  opacity: 1;
}
.header--opaque {
  background-color: #D4B254;
  border-bottom: solid 1px #C19F41;
}
.header--opaque .header__inner {
  border: none;
}
.header__inner {
  width: 70vw;
  margin: 0 auto;
  border-bottom: solid 1px rgba(225, 225, 225, 0.5);
  transition: border-bottom 0.28s ease 0s;
}
@media (max-width: 1000px) {
  .header__inner {
    width: 700px;
  }
}
@media (max-width: 715px) {
  .header__inner {
    width: auto;
    margin: 0;
    border: none;
  }
}
@media (max-width: 715px) {
  .header__nav {
    height: 0;
  }
}
.header__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.28s ease 0s;
}
@media (max-width: 715px) {
  .header__menu {
    display: block;
    opacity: 0;
    transform: translate(0, -16em);
    border-bottom: solid 1px #C19F41;
    padding-left: 1em;
    margin-top: 4.8em;
  }
}
.header__menu--open {
  position: fixed;
  display: block;
  z-index: 2;
}
.header__menu .menu__item {
  text-transform: uppercase;
  margin: 0.5em 0.2em;
}
.header__menu .menu__item--logo-placeholder {
  opacity: 0;
  width: 100px;
}
.header__menu .menu__icon {
  margin: 0 0.2em;
}
.header__menu .menu__button {
  padding: 0.8em 2em;
  margin: 2.1em 0;
}
@media (max-width: 715px) {
  .header__menu .menu__button {
    margin: 0 0 0.5em;
  }
}
.header__logo {
  position: relative;
  float: left;
  left: 50%;
  transform: translate(-50%, -63px);
}
@media (max-width: 715px) {
  .header__logo {
    transform: translate(-50%, -70px);
  }
}
.main {
  position: absolute;
  width: 100%;
}
.main__splash {
  height: 100vh;
  background-image: url('../assets/images/main.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #FFFFFF;
}
.main__splash .article {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 600px;
  margin: 0 auto;
}
.main__blurb .article {
  flex-flow: row wrap;
}
.main__blurb .article__picture {
  overflow: hidden;
  flex-basis: 50%;
  order: 1;
  margin-bottom: -0.1em;
}
.main__blurb .article__picture img {
  width: 100%;
}
@media (max-width: 1000px) {
  .main__blurb .article__picture {
    flex-basis: 100%;
    order: 2;
  }
}
.main__blurb .article__content {
  flex-basis: 50%;
  order: 2;
  box-sizing: border-box;
  padding: 1em 3vw;
}
.main__blurb .article__content .button {
  margin-bottom: 0;
}
@media (max-width: 1000px) {
  .main__blurb .article__content {
    flex-basis: 100%;
    order: 1;
    padding: 4em 3em;
  }
}
.main__blurb .article .button {
  margin-left: 0;
}
.main__testimonials {
  width: auto;
  background: #EEEEEE;
  text-align: center;
  padding: 4em;
}
.main__testimonials .article {
  display: block;
}
.main__testimonials .article__content {
  width: 50%;
  margin: auto;
}
.main__testimonials .article__content h3 {
  margin-bottom: 2em;
}
@media (max-width: 715px) {
  .main__testimonials .article__content {
    width: 80%;
  }
}
.main__gallery {
  text-align: center;
  color: #000000;
  padding-top: 3em;
}
.main__gallery .article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.main__gallery .article__picture img {
  width: 200px;
  padding: 0.4em;
}
@media (max-width: 1000px) {
  .main__gallery .article__picture img {
    width: 350px;
  }
}
@media (max-width: 715px) {
  .main__gallery .article__picture img {
    width: 500px;
  }
}
.article {
  display: flex;
  text-align: inherit;
  align-items: center;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-size: 0.6em;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 2em;
  margin-bottom: 0.5em;
  color: #FFFFFF;
  background: #D4B254;
  box-sizing: border-box;
  border: solid #D4B254 1px;
  border-radius: 3em;
  padding: 1.1em 4em;
  margin: 2.5em;
  box-shadow: 0 1px 4px 2px #22222210;
  transition: all 0.28s ease 0s;
}
.button:focus {
  outline: none;
}
.button--alt {
  color: #D4B254;
  background: #FFFFFF;
  border: solid inherit 1px;
}
.button:hover {
  color: #FFFFFF;
  background: #C19F41;
  border: solid #00000000 1px;
  box-shadow: 0 1px 2px 1px #22222222;
}
.button--dropdown {
  display: none;
  position: fixed;
  background: none;
  padding: 1em;
  margin: 0.5em;
}
.button--dropdown:hover {
  color: #000000;
  background: none;
  border: solid #C19F41 1px;
  box-shadow: none;
}
.button--dropdown i {
  padding-left: 2px;
}
@media (max-width: 715px) {
  .button--dropdown {
    display: inline-block;
    transform: translate(0, -78px);
    border: solid #00000000 1px;
    box-shadow: none;
  }
}
.button--alt-bw {
  color: #FFFFFF;
  background: none;
  border: solid #FFFFFF 1px;
}
.button--alt-bw:hover {
  color: #000000;
  background: #FFFFFF;
  border: solid #00000000 1px;
  box-shadow: 0 1px 2px 1px #22222222;
}
